<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="login" value="https://login.chinacloudapi.cn/{0}" />
    <add key="tenantId" value="e87dd59d-2f76-4b7b-a797-cb4056d569a5" />
    <add key="apiEndpoint" value="https://management.core.chinacloudapi.cn/" />
    <add key="clientId" value="eb810603-45e9-46be-a741-ffaeb65b8673" />
    <add key="redirectUri" value="http://localhost/" />
    <add key="subscriptionId" value="8692422d-d6df-4b0a-a1b0-f296e4a43841"/>


    <!--<add key="login" value="https://login.microsoftonline.com/{0}" />
    <add key="tenantId" value="e4162ad0-e9e3-4a16-bf40-0d8a906a06d4" />
    <add key="apiEndpoint" value="https://management.core.windows.net/" />
    <add key="clientId" value="4b40babc-0c2f-4d61-a3a1-8748c9066956" />
    <add key="redirectUri" value="http://localhost/" />
    <add key="subscriptionId" value="ed0caab7-c6d4-45e9-9289-c7e5997c9241"/>
    <add key="clientSecret" value="f1pWMfiG9Iz77OtkrsEOQoEw/kEkZBN6uJW09ckxQig=" />-->
  </appSettings>
  <!--https://login.microsoftonline.com/e4162ad0-e9e3-4a16-bf40-0d8a906a06d4/saml2-->
  <!--https://login.chinacloudapi.cn/e87dd59d-2f76-4b7b-a797-cb4056d569a5/oauth2/token-->
</configuration>